<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>部门列表</title>
    <link rel="shortcut icon" href="favicon.ico">
    <link href="/static/admin/css/bootstrap.min.css?v=3.3.6" rel="stylesheet">
    <link href="/static/admin/css/font-awesome.min.css?v=4.4.0" rel="stylesheet">
    <link href="/static/admin/css/plugins/bootstrap-table/bootstrap-table.min.css" rel="stylesheet">
    <link href="/static/admin/css/animate.min.css" rel="stylesheet">
    <link href="/static/admin/css/style.min.css?v=4.1.0" rel="stylesheet">
    <link href="/static/admin/css/plugins/sweetalert/sweetalert.css" rel="stylesheet">
    <style type="text/css">
        @media screen and  (min-width:768px){
           .btn-group{display: none;}
           .btn-group1{display: block;}
           .lev{display:inline;}
        }
        @media screen and (max-width:768px){
            .btn-group{display: block;}
            .btn-group1{display: none;}
            .lev{display:none;}
        }
        .ibox-content .form-group{
            width:auto;
        }
        .ibox-content .form-group .btn{
            margin-top:5px;
        }
        .bootstrap-table .fixed-table-container{
            height:auto !important;
        }
    </style>
</head>
<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
    <!-- Panel Other -->
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5>部门列表</h5>
            <div class="ibox-tools">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                    <a class="close-link">
                        <i class="fa fa-times"></i>
                    </a>
                </div>
        </div>
        <div class="ibox-content">
            <div class="form-group clearfix col-sm-1" >
                <a href="./deptAdd"><button class="btn btn-primary" type="button" ><i class="fa fa-plus"></i>&nbsp;添加部门</button></a>
            </div>
            
            <div class="example-wrap">
                <div class="example">
                    <table id="cusTable" data-height="500">
                        <thead>
                        <th data-field="id">部门ID</th>
                        <th data-field="deptname">部门名称</th>
                        <!-- <th data-field="maxnum">系列号默认最大生成数量</th>
                        <th data-field="maxtimes">系列号默认最大使用次数</th> -->
                        <th data-field="operate">操作</th>
                        </thead>
                    </table>
                </div>
            </div>
            <!-- End Example Pagination -->
        </div>
    </div>
</div>
<!-- End Panel Other -->
</div>

<script src="/static/admin/js/jquery.min.js?v=2.1.4"></script>
<script src="/static/admin/js/bootstrap.min.js?v=3.3.6"></script>
<script src="/static/admin/js/content.min.js?v=1.0.0"></script>
<script src="/static/admin/js/plugins/bootstrap-table/bootstrap-table.min.js"></script>
<script src="/static/admin/js/plugins/bootstrap-table/bootstrap-table-mobile.min.js"></script>
<script src="/static/admin/js/plugins/bootstrap-table/locale/bootstrap-table-zh-CN.min.js"></script>
<script src="/static/admin/js/plugins/suggest/bootstrap-suggest.min.js"></script>
<script src="/static/admin/js/plugins/layer/laydate/laydate.js"></script>
<script src="/static/admin/js/plugins/sweetalert/sweetalert.min.js"></script>
<script src="/static/admin/js/plugins/layer/layer.min.js"></script>
<link rel="stylesheet" href="/static/admin/js/plugins/zTree/zTreeStyle.css" type="text/css">
<script type="text/javascript" src="/static/admin/js/plugins/zTree/jquery.ztree.core-3.5.js"></script>
<script type="text/javascript" src="/static/admin/js/plugins/zTree/jquery.ztree.excheck-3.5.js"></script>
<script type="text/javascript" src="/static/admin/js/plugins/zTree/jquery.ztree.exedit-3.5.js"></script>
<script type="text/javascript">
    function initTable() {
        //先销毁表格
        $('#cusTable').bootstrapTable('destroy');
        //初始化表格,动态从服务器加载数据
        $("#cusTable").bootstrapTable({
            method: "get",  //使用get请求到服务器获取数据
            url: "./index", //获取数据的地址
            striped: true,  //表格显示条纹
            pagination: true, //启动分页
            //pageSize: 10,  //每页显示的记录数
            pageSize: 10000,  //每页显示的记录数
            pageNumber:1, //当前第几页
            //pageList: [5, 10, 15, 20, 25],  //记录数可选列表
            pageList: [],  //记录数可选列表
            sidePagination: "server", //表示服务端请求
            //设置为undefined可以获取pageNumber，pageSize，searchText，sortName，sortOrder
            //设置为limit可以获取limit, offset, search, sort, order
            queryParamsType : "undefined",
            queryParams: function queryParams(params) {   //设置查询参数
                var param = {
                    pageNumber: params.pageNumber,
                    pageSize: params.pageSize,
                    searchText:$('#deptname').val()
                };
                return param;
            },
            onLoadSuccess: function(){  //加载成功时执行
                layer.msg("加载成功", {time : 1000});
            },
            onLoadError: function(){  //加载失败时执行
                layer.msg("加载数据失败");
            }
        });
    }

    $(document).ready(function () {
        //调用函数，初始化表格
        initTable();

        //当点击查询按钮的时候执行
        //$("#search").bind("click", initTable);

    });

    function deptDel(id){
        layer.confirm('确认删除此部门?', {icon: 3, title:'提示'}, function(index){
            //do something
            $.getJSON('./deptDel', {'id' : id}, function(res){
                if(res.code == 1){
                    layer.alert(res.msg, function(){
                        initTable();
                    });
                }else{
                    layer.alert(res.msg);
                }
            });

            layer.close(index);
        })

    }
</script>
</body>
</html>
